* {
  box-sizing:border-box;
}

html {
  margin: 0;
  padding: 0;

  color: #15233d;
}

body {
  font-family: Amarante;
  background-color: lemonchiffon;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

section{

}

header {

}
