* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Amarante;
  background-color: lemonchiffon;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 1rem;
}

.data-display-container {
  text-align: center;
  padding: 5rem;
  display: flex;
  flex-direction: column;
}

.common-name {
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

.scientific-name {
  font-size: 2rem;
  font-style: italic;
  padding-bottom: 0;
  margin-bottom: 0;
}
